RUST_LOG="info"

# AWS Credentials and configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# OpenAI
OPENAI_API_KEY=

# tool apis
TAVILY_API_KEY=

# database
DATABASE_URL="postgres://postgres:<password>@localhost:5432/agent"
TEST_DATABASE_URL="postgres://postgres:<password>@localhost:5432/commander_test"

# sandbox
SANDBOX_IMAGE="commander-shell:latest"